body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

i {
  color: navy;
}

.tile-image {
  width: 300px;
  float: left;
  margin-right: 35px;
}

.card {
  display: inline-block;
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (max-width: 680px){

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    display: block;
    width: 100%;
    text-align: justify;
  }

  .left {
    clear: both;
  }
  
  .right {
    clear: both;
  }

  .tile-image {
    width: 100%;
    clear: both;
    margin-right: 0;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .card-text {
    margin-bottom: 50px;
  }
}